.example-button-row {
    display: grid;
    margin-top: 47%;
}
.example-chip-list{
   width: 100%;
}
.mat-chip-list-wrapper {
    margin-top: 6%!important;
    /* display: table-footer-group; */
    position: absolute!important;
}
.send {
    position: absolute;
    right: 0%;
   /* bottom: 3%;*/
}

.tbar{
    
        width: 112%;
        margin-left: -6%;
        background: white;
    
}
.example-spacer {
    flex: 1 1 auto;
  }
#inputSearch{
    width: 78%;
}