

<!--mat-toolbar>
  <button (click)="salvaLista(daComprare)" color="primary"  mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>arrow_back</mat-icon>

 <span class="example-spacer"></span>

<button (click)="salvaLista(daComprare)" color="primary" class="send" mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon>send</mat-icon>
      </button>
</mat-toolbar>-->
<mat-toolbar>
  <button  color="primary" (click)="gotoDashboard()"  mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>arrow_back</mat-icon>
 </button>
 <mat-form-field appearance="fill" id="inputSearch">
<input matInput  [formControl]="listCtrl" placeholder="cerca prodotto" required #listInput>
</mat-form-field>
 <span class="example-spacer"></span>

 <button (click)="salvaLista(shoes)" color="primary" class="send" mat-icon-button aria-label="Example icon-button with a heart icon">
  <mat-icon>send</mat-icon>
</button>
</mat-toolbar>
<mat-selection-list #shoes (selectionChange)="selectionChange($event.option)">
  <mat-list-option [selected]="itemSelectedControl.value && 
  itemSelectedControl.value.indexOf(listInput.value)>=0" [value]="listInput.value">
    {{listInput.value}}
  </mat-list-option>
  <mat-list-option  *ngFor="let prop of filteredProponi | async" [value]="prop" [selected]="itemSelectedControl.value && 
  itemSelectedControl.value.indexOf(prop)>=0">
    {{prop}}
  </mat-list-option>
</mat-selection-list>

