
<mat-toolbar color="primary" class="example-toolbar">
  <button  (click)="drawer.toggle()"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>La spesa</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>

  
</mat-toolbar>
<!--<router-outlet></router-outlet>-->


<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
   <!--<p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
   <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>-->
  </mat-drawer>

  <div class="example-sidenav-content">
    <div id="contenitore">
        <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>

<mat-toolbar role="footer" color="primary" class="example-toolbar" id="foot">
  
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>

</mat-toolbar>
