.example-container {
    width: 100%;
    height: 87%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  #contenitore{
      width:100%;
  }
  #footer{
      height: 17%;
  }
  #foot{
      position:fixed;
      top:92%;
      z-index: 1;
      height: 8%;
  }
