<div>
<mat-selection-list #shoes>
  <div *ngFor="let itemSpesa of listaSpesa ; let i=index" >
    <mat-list-option  [(selected)]="itemSpesa.check" (click)=updateCheck(i)    (swiperight)="onSwipeRight(i)">
        <span *ngIf="itemSpesa.check" ><del> {{itemSpesa.name}} {{itemSpesa.quantity}}</del></span>
        <span *ngIf="!itemSpesa.check" > {{itemSpesa.name}} {{itemSpesa.quantity}}</span>
        <mat-divider></mat-divider>
    </mat-list-option>
    <mat-divider></mat-divider>
  </div>
  <!--<div *ngFor="let itemSpesa of listaSpesa; let i=index">
    <mat-list-option  [(selected)]="itemSpesa.check"  *ngIf="itemSpesa.check" (click)=updateCheck(i)>
        <span > {{itemSpesa.name}} {{itemSpesa.quantity}}</span>
        
        <mat-divider></mat-divider>
    </mat-list-option>
    <mat-divider></mat-divider>
  </div>-->
  </mat-selection-list>

  
</div>


<div class="example-button-container" id="fab">
    <button (click)= openBottomSheet() mat-fab color="accent" aria-label="Example icon button with a plus one icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>

 