/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.customSheet{
    width: 100%;
    height: 300px;
    }
    .mat-chip-list-wrapper {
        margin-top: 6%!important;
        /* display: table-footer-group; */
        position: absolute!important;
    }